<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/index.css">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<title>Page Title</title>
</head>
<body>
<div class="formland">
<h1 class="heading">check weather #betaversion</h1>

<p class="subheading">current weather.</p>
<form action="/results" method="get">
  city name: <input type="text" name="city" placeholder="city name ..."><br>
  <input type="submit" value="Submit">
</form>

</div>

</body>
<script >


    function check(event)
    {
    var a = document.getElementsByTagName("select").value;
    alert(a);
    alert(event);
    }

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function clickfunc(value){
    alert(value);
    document.getElementById("theform").submit();
    console.log("value");
    console.log(value);
}
</script>

</html>
