body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1468571452166-b089f160f1c4");
  background-size: cover;
  background-color: #000;
  font-family: "Nunito Sans";
  background-repeat: no-repeat;
}
nav {
  margin-top: 1em;
  font-size: 0.85em;
  padding: 1em;
}
ul, li {
  display: inline;
  margin: 0;
}
ul {
 padding: 0 1.5em;
}
li {
  color: white;
  padding: 0.25em 1em;
  cursor: pointer;
}

.avatar {
  float:right;
  color: white;
  margin-left: 0.5em;
}
.avatar img {
  max-width: 2.5em;
  border-radius: 100%;
  margin-top: -0.5em;
}
#arrow {
  padding-top: 0.5em;
  padding-left: 0.5em;
  vertical-align: top;
}
#search {
  border-left: 1px solid #fff;
}
#search li:hover{
    background-color: #1e67ea;
    border-radius: 1em;
}
#search-container{
  min-height: 350px;
}
.search-bar {
  padding-top: 5em;
}
#search-input {
  margin-left: 3em;
  padding-left: 0.5em;
  font-size: 3em;
  max-width: 50%;
  color: #454545;
  border: transparent;
  border-radius: 2px;
}
#search-button{
  background-color: #1e67ea;
  color: #fff;
  border-radius: 2px;
  font-size: 3em;
  border: none;
  margin-left: -5px;
  cursor: pointer;
}

#footer-nav {
  font-size: 0.85em;
  padding: 1em;
  text-align: center;
}
#footer-nav li:hover{
    background-color: rgba(255,255,255,0.5);
    border-radius: 1em;
}
#help{
  float: right;
  color:black;
  width: 1em;
  line-height: 1em;
  background-color: rgba(255,255,255,0.5);
  border-radius: 100%;
  padding: 0.25em;
  cursor: pointer;
}
#credit{
  text-align: right;
  display: inline-block;
  float:right;
  color: black;
  background-color: #fff;
  padding: 0.5em;
  margin-top: -5em;
  border-radius: 2px;
}
#img-credit{
  font-size: 0.85em;
  color: #454545;
}
.hidden {
  visibility: hidden;
}
